:root{
    --african-violet: #AD80A3ff;
    --iris: #454DC4ff;
    --iris-2: #674FBBff;
    --light-red: #FB8F8Fff;
    --salmon: #F38274ff;
    --tickle-me-pink: #FD8FB3ff;
    --eminence: #6F4180ff;
    --atomic-tangerine: #FDA57Eff;
}

html, body{
    height: 100%;
    min-height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#stars{
    position: absolute;
    z-index: -1; 
}

#name-plate{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 4rem;
    margin: 0;
}

#main{
    padding: 0 10rem;
    height: 100%;
}

#profile-picture{
    height: 345px;
    width: 325px;
    display: block;
    margin: 0 auto;
}

#bio,
#bio-desc{
    display: inline-block;
    padding: .5rem;
}

.bg-iris{
    background-color: var(--iris);
}

.icon{
    height: 2.5rem;
    width: 2.5rem;
    filter:  brightness(0) invert(1);
}

.social-icon-container > :not(:first-child){
    padding-left: 2rem;
}

@media (max-width: 1201px) {
    #main{
        padding: 4rem;
    }
}

@media (max-width: 993px) {
    #profile-picture{
        margin: 1rem auto;
    }

    #main{
        padding: 2rem;
        height: unset;
    }
}

@media (max-width: 577) {
    #profile-picture{
        height: 310px;
        width: 292px;
    }
}